@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    }

*{
   
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    
}

body {
    background: linear-gradient(to bottom, #d8e2e9, #051529);
}

.logo {
  
    width: 97%;
}


main {
    display: flex;
    padding: 20px;
    
  
}

a {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.centro {
    text-align: center;
    padding: 20px;
    margin: 20px;
  
}

.div-mensagem {
    text-align: center;
}

.div-textarea {
    text-align: center;
}

.textarea {
    border: none;
    color:black;
    margin-top: 40px;
    text-transform: lowercase;
    text-align: center;
    border-radius: 20px;
    
}

.mensagem {
    background: white;
    border: none;
    color: black;
    margin-top: 40px;
    text-align: center;
    border-radius: 20px;
}

.mensagem:focus {
    outline: none;
}



button {
    margin-top: 30px;
    font-size: 25px;
    margin: 20px;
}



.btn-encriptar {
    background-color: blue;
    border-radius: 24px;
    color: aliceblue;
    padding: 24px;
    width: 190px;
    border:none;
    cursor:pointer;
}

.btn-encriptar:hover {
    background-color:white;
    color:blue;
    transform: scale(1.1);
    transition: all 0.5s;
}

.btn-desencriptar:hover {
    background-color: blue;
    color:white;
    transform: scale(1.1);
    transition: all 0.5s;
}

.btn-desencriptar {
    background-color: white;
    border-radius: 24px;
    color: blue;
    padding: 24px;
    width: 190px;
    border:none;
    cursor:pointer;
    text-align: center;
}

.btn-copiar {
    background-color:dimgray;
    border-radius: 24px;
    color:white;
    padding: 24px;
    width: 200px;
    border:none;
    cursor:pointer;
}

.btn-texto {
    background-color:dimgray;
    border-radius: 24px;
    color:white;
    padding: 18px;
    width: 300px;
    border:none;
    font-size: 16px;
  
}



.btn-copiar:hover {
    background-color:black;
    color:white;
    transform: scale(1.1);
    transition: all 0.5s;
}

footer {
	text-align: center;
	padding: 10px 0;
    color:#d8e2e9;
}

.informações {
    font-size: 20px;
}




